$brand-blue: #1BA6E2;
$brand-black: #232323;
$burger-blue: #21B2EF;
$border-blue: #54BCE9;
$white: #FFFFFF;
$brand-gray: #efefef;
$bg-black: #181818;

/* media query breakpoints */
$screen-lg:  1200px;
$screen-md:  992px;
$screen-sm:  768px;
$screen-xs:  480px;
$screen-xxs: 400px;
